<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CSV Data Migration</title>      
  <link rel="icon" href="/views/trias_logo.png" type="image/icon type"> 
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300'>  
<link href="/views/style.css" rel="stylesheet" type="text/css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="upload">
 <div class="upload-files">
  <header>  
   
  
    <img src="/views/trias_logo.png" , height="134px" ,width="247px">  
    <p>  
    <span class="load">Data Migration</span>    
   </p>     
   <br>
   <form action="migrator/csv/upload" method="POST" enctype="multipart/form-data" >  
    <div class="container">  
        <input type="text" class="form-control" placeholder="Enter Database Name" aria-label="client_id" aria-describedby="basic-addon1" name="client_id"  >  
        <br> 
        <input list="table_names" id="table_name" name="table_name" class="form-control" placeholder="Enter Table Name" autocomplete="off"  />

            <datalist id="table_names">
                <option value="allergy _master">
                <option value="categories _master">
                <option value="category _question _mapping ">
                <option value="chief_complaints_master">
                <option value="cheif_complaints_speciality">    
                <option value="diagnosis _master">
                <option value="drugs_master">
                <option value="history_master">
                <option value="immunization _master">
                <option value="labs_master">  
                <option value="procedure _master">    
                <option value="question _master">
                <option value="systems_master">
                <option value="timeline _category _mapping ">
                <option value="timeline _master">
                <option value="vitals_master">
            </datalist>
        
    </div>   
  </header>
    <div class="body" id="drop">       
        <i class="fa fa-file-text-o pointer-none" ></i>    
        <p class="pointer-none"><b>Drag and drop</b> files here <br /> or <a href="" id="triggerFile">browse</a> to begin the upload</p>
                    <input type="file" name = "data" id ="data" accept=".csv" />
    </div>    
   
  
  <footer>
    <div class="divider">
            <span><AR>FILES</AR></span>
    </div>
   <div class="list-files">  
    <!--   template   -->
   </div>    
   
   <div id = "ccontainer">   
          <button class="importar" type="submit" >Migrate Data</button>      
        </div>
    </form>
  </footer>  
 </div>
</div>
<!-- partial -->
  <script  src="/views/script.js"></script>  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>   

</html>
